      * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }
      body{
      width: 100vw;
      overflow-x: hidden;
      background: linear-gradient(
      180deg,
      rgb(154 131 220) 0%,
      #b9adff 30%,
      #d7b8ff 45%,
      #d7b8ff 55%,
      #cab7ff 65%,
      #c9b6ff 80%,
      #9694ff 100%
      ) center top/cover;
      }
      ::-webkit-scrollbar {
      display: none;
      }
      img {
      display: block;
      max-width: 100%;
      }
      a {
      text-decoration: none;
      }
      
    /* section */
    #section7 { 
    overflow: hidden; 
    }
    /* container */
    .container {
    position: relative;
    max-width: 1420px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 16px;
    overflow: hidden;
    }
    .container h1{
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: 700;
    color: #000000;
    text-shadow: 2px 2px 2px #000000;
    }
    .container h1:hover{
    color: #ffffff;
    }
    #section7:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      180deg,
      rgb(154 131 220) 0%,
      #b9adff 30%,
      #d7b8ff 45%,
      #d7b8ff 55%,
      #cab7ff 65%,
      #c9b6ff 80%,
      #9694ff 100%
    ) center top/cover;
    }
    #section7 .sec7 {
    position: relative;
    opacity: 0;
    transform: translateY(20%);
    transition: transform 1.3s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.03s,
                opacity 1.6s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.03s;
    }
    #section7.active .sec7 {
    transform: translateY(0);
    opacity: 1;
    }
    #section7 .container {
    padding: 220px 0;
    text-align: center;
    }
    #section7 .heading1 {
    font-size: 50px;
    margin-bottom: 20vh;
    }
    .sec7 .slide_wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    }
    .sec7 .slide_wrap .slide_list {
    position: relative;
    height: 516.33px;
    }
    .sec7 .slide_wrap .slide_list:before {
    content: '';
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 83px;
    background: url(../img/robot.png) center/cover;
    z-index: 3;
    }
    .sec7 .slide_wrap .slide_list:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 1;    
    }
    .sec7 .slide_wrap .slide_list li {
    position: absolute;
    left: 50%;
    top: 0;
    cursor: pointer;
    overflow: hidden;
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;    
    }
    .sec7 .slide_wrap .slide_list li:after {
    content: '';
    position: absolute;
    top: 110%;
    left: 50%;
    width: 120px;
    height: 14px;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.25s;
    border-radius: 50%;
    transform: translateX(-50%);    
    }
    .sec7 .slide_wrap .slide_list li:hover:after {
    width: 140px;    
    }
    .sec7 .slide_wrap .slide_list li.item1 {
    z-index: 2;
    transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
    }
    .sec7 .slide_wrap .slide_list li.item2 {
    z-index: 1;
    transform: translateX(-33%) scale(0.7) translate3d(240%, -10%, 0);
    }
    .sec7 .slide_wrap .slide_list li.item3 {
    z-index: -1;
    transform: translateX(-43%) scale(0.5) translate3d(180%, -31%, 0);
    }
    .sec7 .slide_wrap .slide_list li.item4 {
    z-index: -1;
    transform: translateX(-58%) scale(0.5) translate3d(-180%, -31%, 0);
    }
    .sec7 .slide_wrap .slide_list li.item5 {
    z-index: 1;
    transform: translateX(-67%) scale(0.7) translate3d(-240%, -10%, 0);
    }    
    .sec7 .slide_wrap .slide_list li .mobile_mokeup {
    transition: transform 0.25s ease-in-out;
    }
    .sec7 .slide_wrap .slide_list li .mobile_item_img {
    position: absolute;
    left: 6.6%;
    top: 12.1%;
    width: 217px;
    height: 386px;
    text-indent: -9999px;
    overflow: hidden;    
    }
    .sec7 .slide_wrap .slide_list li .mobile_item_img:before,
    .sec7 .slide_wrap .slide_list li .mobile_item_img:after {
    content: '';
    position: absolute;
    width: 203%;
    height: 100%;
    top: 0%;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.7s;
    transform: skew(30deg);
    }
    .sec7 .slide_wrap .slide_list li .mobile_item_img:before { left: -256%; }
    .sec7 .slide_wrap .slide_list li .mobile_item_img:after { left: 167%; }
    .sec7 .slide_wrap .slide_list li:hover .mobile_item_img:before { left: -116%; }
    .sec7 .slide_wrap .slide_list li:hover .mobile_item_img:after { left: 20%; }
    .sec7 .slide_wrap .slide_list li .mobile_item_img.todolist {
    background: url(../img/mobile_todolist.jpg) no-repeat center/cover;
    }
    .sec7 .slide_wrap .slide_list li .mobile_item_img.eshop {
    background: url(../img/mobile_Eshop.jpg) no-repeat center/cover;
    }
    .sec7 .slide_wrap .slide_list li .mobile_item_img.lookbook {
    background: url(../img/mobile_lookbook.jpg) no-repeat center/cover;
    }
    .sec7 .slide_wrap .slide_list li .mobile_item_img.miniportfolio {
    background: url(../img/mobile_minimalportfolio.jpg) no-repeat center/cover;
    }
    .sec7 .slide_wrap .slide_list li .mobile_item_img.responsive {
    background: url(../img/mobile_responsive.jpg) no-repeat center/cover;
    }    
    .sec7 .slide_wrap .slide_list li h3 {
    position: absolute;
    top: 37%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    padding: 10px;
    width: 77%;
    text-align: center;    
    transition: 0.7s var(--transition-rattle-effect);
    z-index: 3;
    opacity: 0;
    }
    .sec7 .slide_wrap .slide_list li:hover h3 {
    left: 50%;
    opacity: 1;
    }
    .sec7 .slide_wrap .slide_list li:hover .mobile_btn {
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    }
    .sec7 .mobile_btn {
    position: absolute;
    left: -100%;
    top: 54%;
    transform: translate(0%, -50%);
    opacity: 0;
    }
    .sec7 .mobile_btn:before {
    background-color: var(--color-sky);
    }
    .sec7 .mobile_btn:after {
    background-color: #8243ff;
    }
    .sec7 .slide_nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 3;
    }
    .sec7 .slide_nav span {
    position: absolute;
    width: 32px;
    height: 52px;
    background: url(../img/sprite.png) no-repeat;
    cursor: pointer;
    }
    .sec7 .slide_nav .prev {
    left: 2%;
    background-position: 0 -315px;
    }
    .sec7 .slide_nav .next {
    right: 2%;
    background-position: -43px -315px;
    }
    .sec7 .slide_dot {
    position: absolute;
    left: 0;
    top: 108%;
    width: 100%;
    z-index: 2;
    }
    .sec7 .slide_dot ul {
    display: flex;
    justify-content: center;
    }
    .sec7 .slide_dot ul li {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 15px 12px;
    }
    .sec7 .slide_dot ul li em {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border: 2px solid #fff;
    text-indent: -9999em;
    transition: border-color 0.3s ease;
    }
    .sec7 .slide_dot ul li em:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px #fff;
    transform: scale(3);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
    }
    .sec7 .slide_dot ul li.active em {
    border-color: #fff;
    }
    .sec7 .slide_dot ul li.active em:after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .sec7 .desc {
    position: absolute;
    width: 230px;
    height: 137.73px;
    background: url(../img/speechbubble.png) center/cover;
    top: -38%;
    left: 42%;
    }
    .sec7 .desc ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    height: 100px;
    padding: 0 10px;
    font-family: 'Cafe24Simplehae', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .sec7 .desc ul li:not(:nth-child(1)) {
    display: none;
    }
    .sec7 .desc ul li h3 {
    font-size: 23px;
    margin-bottom: 5px;
    }
    .sec7 .desc ul li p {
    font-size: 15px;
    }
    #section7 .bigClouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    }
    #section7 .bigClouds img {
    position: absolute;
    width: 400px;
    }
    #section7 .bigClouds img:nth-child(1) {
    top: 15%;
    right: -5%;
    width: 500px;
    }
    #section7 .bigClouds img:nth-child(3) {
    top: 80%;
    left: 30%;
    opacity: 0.5;
    }
    #section7 .bigClouds img:nth-child(4) {
    left: 1%;
    top: 22%;
    width: 330px;
    }
    #section7 .gradient_planet {
    left: 1%;
    top: 17%;
    width: 130px;
    z-index: -2;
    animation: float 2.5s 0.2s alternate infinite;
    }
    #section7 .violet {
    position: absolute;
    right: 4%;
    top: 12%;
    width: 160px;
    animation: float 2s alternate infinite;
    }